.idea/
.vscode/
.fleet/
*.iml
*.xcuserstate
*.xccheckout
*.xcscmblueprint
# Xcode user-specific data
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
.derived-data/
*.xcodeproj/xcshareddata/
